<h1 id="post-first-blog-article">Post First Blog Article</h1>
<p>This article discribes something related to my blog system and is
also for remebering the first article posted.</p>
<h2 id="create-the-html-template-for-flask">Create the HTML Template for
Flask</h2>
<p>Below is the template file named article.html</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode html"><code class="sourceCode html"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="dt">&lt;!doctype </span>html<span class="dt">&gt;</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a><span class="kw">&lt;html&gt;</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a>    <span class="kw">&lt;head&gt;</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;meta</span> <span class="er">charset</span><span class="ot">=</span><span class="st">&quot;utf-8&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;meta</span> <span class="er">name</span><span class="ot">=</span><span class="st">&quot;viewport&quot;</span> <span class="er">content</span><span class="ot">=</span><span class="st">&quot;width=device-width, initial-scale=1, minimal-ui&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;title&gt;</span>{ { article.getTitle() } }<span class="kw">&lt;/title&gt;</span></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;meta</span> <span class="er">name</span><span class="ot">=</span><span class="st">&quot;color-scheme&quot;</span> <span class="er">content</span><span class="ot">=</span><span class="st">&quot;light dark&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;link</span> <span class="er">rel</span><span class="ot">=</span><span class="st">&quot;stylesheet&quot;</span> <span class="er">href</span><span class="ot">=</span><span class="st">&quot;{ {url_for(&#39;static&#39;,filename=&#39;css/github-markdown.css&#39;)} }&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;style&gt;</span></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true" tabindex="-1"></a>            body {</span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true" tabindex="-1"></a>                <span class="kw">box-sizing</span>: <span class="dv">border-box</span><span class="op">;</span></span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true" tabindex="-1"></a>                <span class="kw">min-width</span>: <span class="dv">200</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true" tabindex="-1"></a>                <span class="kw">max-width</span>: <span class="dv">980</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true" tabindex="-1"></a>                <span class="kw">margin</span>: <span class="dv">0</span> <span class="bu">auto</span><span class="op">;</span></span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true" tabindex="-1"></a>                <span class="kw">padding</span>: <span class="dv">45</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true" tabindex="-1"></a>            }</span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-18"><a href="#cb1-18" aria-hidden="true" tabindex="-1"></a>            footer div{</span>
<span id="cb1-19"><a href="#cb1-19" aria-hidden="true" tabindex="-1"></a>                <span class="kw">margin-top</span>: <span class="dv">100</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb1-20"><a href="#cb1-20" aria-hidden="true" tabindex="-1"></a>                <span class="kw">text-align</span>: <span class="dv">justify</span><span class="op">;</span></span>
<span id="cb1-21"><a href="#cb1-21" aria-hidden="true" tabindex="-1"></a>            }</span>
<span id="cb1-22"><a href="#cb1-22" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-23"><a href="#cb1-23" aria-hidden="true" tabindex="-1"></a>            footer div<span class="in">:after</span> {</span>
<span id="cb1-24"><a href="#cb1-24" aria-hidden="true" tabindex="-1"></a>                <span class="kw">content</span>: <span class="st">&quot;&quot;</span><span class="op">;</span></span>
<span id="cb1-25"><a href="#cb1-25" aria-hidden="true" tabindex="-1"></a>                <span class="kw">display</span>: <span class="dv">inline-block</span><span class="op">;</span></span>
<span id="cb1-26"><a href="#cb1-26" aria-hidden="true" tabindex="-1"></a>                <span class="kw">overflow</span>: <span class="dv">hidden</span><span class="op">;</span></span>
<span id="cb1-27"><a href="#cb1-27" aria-hidden="true" tabindex="-1"></a>                <span class="kw">width</span>: <span class="dv">100</span><span class="dt">%</span><span class="op">;</span></span>
<span id="cb1-28"><a href="#cb1-28" aria-hidden="true" tabindex="-1"></a>            }</span>
<span id="cb1-29"><a href="#cb1-29" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-30"><a href="#cb1-30" aria-hidden="true" tabindex="-1"></a>            footer div a {</span>
<span id="cb1-31"><a href="#cb1-31" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-32"><a href="#cb1-32" aria-hidden="true" tabindex="-1"></a>                <span class="kw">display</span>: <span class="dv">inline-block</span><span class="op">;</span></span>
<span id="cb1-33"><a href="#cb1-33" aria-hidden="true" tabindex="-1"></a>                <span class="kw">text-align</span>: <span class="dv">center</span><span class="op">;</span></span>
<span id="cb1-34"><a href="#cb1-34" aria-hidden="true" tabindex="-1"></a>            }</span>
<span id="cb1-35"><a href="#cb1-35" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-36"><a href="#cb1-36" aria-hidden="true" tabindex="-1"></a>            <span class="im">@media</span> (<span class="kw">prefers-color-scheme</span>: dark) {</span>
<span id="cb1-37"><a href="#cb1-37" aria-hidden="true" tabindex="-1"></a>                body {</span>
<span id="cb1-38"><a href="#cb1-38" aria-hidden="true" tabindex="-1"></a>                    <span class="kw">background-color</span>: <span class="cn">#0d1117</span><span class="op">;</span></span>
<span id="cb1-39"><a href="#cb1-39" aria-hidden="true" tabindex="-1"></a>                }</span>
<span id="cb1-40"><a href="#cb1-40" aria-hidden="true" tabindex="-1"></a>            }</span>
<span id="cb1-41"><a href="#cb1-41" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;/style&gt;</span></span>
<span id="cb1-42"><a href="#cb1-42" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-43"><a href="#cb1-43" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;link</span> <span class="er">rel</span><span class="ot">=</span><span class="st">&quot;stylesheet&quot;</span> <span class="er">href</span><span class="ot">=</span><span class="st">&quot;https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-44"><a href="#cb1-44" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;style&gt;</span></span>
<span id="cb1-45"><a href="#cb1-45" aria-hidden="true" tabindex="-1"></a>            <span class="fu">.github-fork-ribbon</span><span class="in">:before</span> {</span>
<span id="cb1-46"><a href="#cb1-46" aria-hidden="true" tabindex="-1"></a>                <span class="kw">background-color</span>: <span class="cn">#121612</span><span class="op">;</span></span>
<span id="cb1-47"><a href="#cb1-47" aria-hidden="true" tabindex="-1"></a>            }</span>
<span id="cb1-48"><a href="#cb1-48" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;/style&gt;</span></span>
<span id="cb1-49"><a href="#cb1-49" aria-hidden="true" tabindex="-1"></a>    <span class="kw">&lt;/head&gt;</span></span>
<span id="cb1-50"><a href="#cb1-50" aria-hidden="true" tabindex="-1"></a>    <span class="kw">&lt;body&gt;</span></span>
<span id="cb1-51"><a href="#cb1-51" aria-hidden="true" tabindex="-1"></a>      <span class="kw">&lt;article</span> <span class="er">class</span><span class="ot">=</span><span class="st">&quot;markdown-body&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-52"><a href="#cb1-52" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-53"><a href="#cb1-53" aria-hidden="true" tabindex="-1"></a>{ % include &quot;posts/&quot;+ article.getFileName() % }</span>
<span id="cb1-54"><a href="#cb1-54" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-55"><a href="#cb1-55" aria-hidden="true" tabindex="-1"></a>      <span class="kw">&lt;/article&gt;</span></span>
<span id="cb1-56"><a href="#cb1-56" aria-hidden="true" tabindex="-1"></a>      <span class="kw">&lt;footer&gt;</span></span>
<span id="cb1-57"><a href="#cb1-57" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;div&gt;</span></span>
<span id="cb1-58"><a href="#cb1-58" aria-hidden="true" tabindex="-1"></a>        { % if article.getPrevious() % }</span>
<span id="cb1-59"><a href="#cb1-59" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;a</span> <span class="er">href</span><span class="ot">=</span><span class="st">&quot;{ {url_for(&#39;module_blog.article&#39;,name=article.getPrevious())} }&quot;</span><span class="kw">&gt;</span>Previous</span>
<span id="cb1-60"><a href="#cb1-60" aria-hidden="true" tabindex="-1"></a>        { % else % }</span>
<span id="cb1-61"><a href="#cb1-61" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;a</span> <span class="er">href</span><span class="ot">=</span><span class="st">&quot;{ {url_for(&#39;module_blog.index&#39;)} }&quot;</span><span class="kw">&gt;</span>No more</span>
<span id="cb1-62"><a href="#cb1-62" aria-hidden="true" tabindex="-1"></a>        { % endif % }</span>
<span id="cb1-63"><a href="#cb1-63" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;/a&gt;</span></span>
<span id="cb1-64"><a href="#cb1-64" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-65"><a href="#cb1-65" aria-hidden="true" tabindex="-1"></a>        { % if article.getNext() % }</span>
<span id="cb1-66"><a href="#cb1-66" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;a</span> <span class="er">href</span><span class="ot">=</span><span class="st">&quot;{ {url_for(&#39;module_blog.article&#39;,name=article.getNext())} }&quot;</span><span class="kw">&gt;</span>Next</span>
<span id="cb1-67"><a href="#cb1-67" aria-hidden="true" tabindex="-1"></a>        { % else % }</span>
<span id="cb1-68"><a href="#cb1-68" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;a</span> <span class="er">href</span><span class="ot">=</span><span class="st">&quot;{ {url_for(&#39;module_blog.index&#39;)} }&quot;</span><span class="kw">&gt;</span>No more</span>
<span id="cb1-69"><a href="#cb1-69" aria-hidden="true" tabindex="-1"></a>        { % endif % }</span>
<span id="cb1-70"><a href="#cb1-70" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;/a&gt;</span></span>
<span id="cb1-71"><a href="#cb1-71" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;/div&gt;</span></span>
<span id="cb1-72"><a href="#cb1-72" aria-hidden="true" tabindex="-1"></a>      <span class="kw">&lt;/footer&gt;</span></span>
<span id="cb1-73"><a href="#cb1-73" aria-hidden="true" tabindex="-1"></a>        <span class="kw">&lt;a</span> <span class="er">class</span><span class="ot">=</span><span class="st">&quot;github-fork-ribbon&quot;</span> <span class="er">href</span><span class="ot">=</span><span class="st">&quot;{ {url_for(&#39;module_blog.index&#39;)} }&quot;</span> <span class="er">data-ribbon</span><span class="ot">=</span><span class="st">&quot;Back to article list&quot;</span> <span class="er">title</span><span class="ot">=</span><span class="st">&quot;Back to article list&quot;</span><span class="kw">&gt;</span>Back to article list<span class="kw">&lt;/a&gt;</span></span>
<span id="cb1-74"><a href="#cb1-74" aria-hidden="true" tabindex="-1"></a>    <span class="kw">&lt;/body&gt;</span></span>
<span id="cb1-75"><a href="#cb1-75" aria-hidden="true" tabindex="-1"></a><span class="kw">&lt;/html&gt;</span></span></code></pre></div>
<h2 id="export-html-segment-file-and-publish">Export HTML Segment File
and Publish</h2>
<h3 id="export">Export</h3>
<p>Below is the export comand.</p>
<pre class="shell"><code>pandoc --embed-resources HC001.org -o HC001.html
</code></pre>
<h3 id="publish">Publish</h3>
<p>Below is the implement of interface for publishing.</p>
<pre class="shell"><code>@module_blog.route(&#39;/publish&#39;, methods=[&#39;GET&#39;, &#39;POST&#39;])
def publish():
    if request.method == &#39;POST&#39;:
        if &#39;file&#39; not in request.files:
            return &#39;FAIL&#39;

        file = request.files[&#39;file&#39;]
        if file and &#39;.&#39; in file.filename and file.filename.rsplit(&#39;.&#39;, 1)[1].lower() == &#39;html&#39;:
            filename = secure_filename(file.filename)

            content = str(file.read(), encoding=&#39;utf8&#39;).replace(&#39;{ {&#39;,&#39;{ {&#39;).replace(&#39;} }&#39;,&#39;} }&#39;).replace(&#39;{ %&#39;,&#39;{ %&#39;).replace(&#39;% }&#39;,&#39;% }&#39;).replace(&#39;\r\n&#39;,&#39;\n&#39;)
            with open(os.path.join(current_app.root_path, &#39;templates&#39;, &#39;posts&#39;, filename),&#39;w&#39;,encoding=&#39;utf8&#39;) as fp:
                fp.write(content)

            content = io.StringIO(content)
            while True:
                line = content.readline().strip()
                print(line)
                if line[0] == &#39;&lt;&#39; and line[1] == &#39;h&#39; and line[2] == &#39;1&#39;:
                    title = re.search(&#39;&gt;.*&lt;&#39;,line).group()[1:-1]
                elif line[0] == &#39;&lt;&#39; and line[1] == &#39;p&#39;:
                    multiline = line
                elif line[0] == &#39;&lt;&#39; and line[1] == &#39;h&#39; and line[2] == &#39;2&#39;:
                    abstract = re.search(&#39;&gt;.*&lt;&#39;,multiline).group()[1:-1]
                    break
                else:
                    multiline = multiline + &#39; &#39; + line

            print(filename)
            print(title)
            print(abstract)
            Article.add(filename,title,abstract)                
            return &#39;OK&#39;
    return &#39;&#39;&#39;
    &lt;!doctype html&gt;
    &lt;title&gt;Upload Article&lt;/title&gt;
    &lt;h1&gt;Upload Article&lt;/h1&gt;
    &lt;form method=post enctype=multipart/form-data&gt;
      &lt;input type=file name=file&gt;
      &lt;input type=submit value=Upload&gt;
    &lt;/form&gt;
    &#39;&#39;&#39;
</code></pre>
<p>Below is the publish command.</p>
<pre><code>curl -F file=@HC001.html http://127.0.0.1/blog/publish
</code></pre>
